<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Leatherworking</title>
        <meta name="description" content="">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <script>const whTooltips = {colorLinks: false, iconizeLinks: false, renameLinks: false};</script>
        <script src="https://wow.zamimg.com/js/tooltips.js"></script>
        <link href="../static/style.css" rel="stylesheet">
        <link href="../static/images/favicon.png" rel="icon">
    </head>

    <body class="bg-dark">

        <!-- Dropdown for professions instead of listed out -->
        <!--
        <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
            <div class="container-fluid">-->
                <!-- button gives the button to expand a collapsed navbar on small screens -->
                <!--
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> 
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav nav-tabs me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('index')}}">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Professions
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{url_for('alchemy')}}">Alchemy</a></li>
                                <li><a class="dropdown-item" href="{{url_for('blacksmithing')}}">Blacksmithing</a></li>
                                <li><a class="dropdown-item" href="{{url_for('cooking')}}">Cooking</a></li>
                                <li><a class="dropdown-item" href="{{url_for('enchanting')}}">Enchanting</a></li>
                                <li><a class="dropdown-item" href="{{url_for('engineering')}}">Engineering</a></li>
                                <li><a class="dropdown-item" href="{{url_for('inscription')}}">Inscription</a></li>
                                <li><a class="dropdown-item" href="{{url_for('jewelcrafting')}}">Jewelcrafting</a></li>
                                <li><a class="dropdown-item active" href="{{url_for('leatherworking')}}">Leatherworking</a></li>
                                <li><a class="dropdown-item" href="{{url_for('tailoring')}}">Tailoring</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>   
            </div>
        </nav>-->

        <!-- listed out professions instead of dropdown -->
        <nav class="navbar navbar-expand-lg bg-dark border-body" data-bs-theme="dark">
            <div class="container-fluid">
                <!-- button gives the button to expand a collapsed navbar on small screens -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> 
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav nav-tabs me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{{url_for('index')}}"><img class="tinier-icon borderless" src="../static/images/home8.png">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{url_for('alchemy')}}"><img class="tinier-icon" src="../static/images/alchemy_small.jpg">Alchemy</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{url_for('blacksmithing')}}"><img class="tinier-icon" src="../static/images/blacksmithing_small.jpg">Blacksmithing</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{url_for('cooking')}}"><img class="tinier-icon" src="../static/images/cooking_small.jpg">Cooking</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{url_for('enchanting')}}"><img class="tinier-icon" src="../static/images/enchanting_small.jpg">Enchanting</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{url_for('engineering')}}"><img class="tinier-icon" src="../static/images/engineering_small.jpg">Engineering</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{url_for('inscription')}}"><img class="tinier-icon" src="../static/images/inscription_small.jpg">Inscription</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{url_for('jewelcrafting')}}"><img class="tinier-icon" src="../static/images/jewelcrafting_small.jpg">Jewelcrafting</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{url_for('leatherworking')}}"><img class="tinier-icon" src="../static/images/leatherworking_small.jpg">Leatherworking</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{url_for('tailoring')}}"><img class="tinier-icon" src="../static/images/tailoring_small.jpg">Tailoring</a></li>
                    </ul>
                </div>   
            </div>
        </nav>

        <!-- search and filter bar -->
        <div class="container mt-1 mb-1">
            <div class="row justify-content-end">
                <div class="col-sm-auto">
                    <form method="POST">
                        {{form.hidden_tag()}}
                        <span class="white-text">{{form.select.label}}</span> {{form.select()}} {{form.search()}} {{form.submit()}} {{form.clear()}}
                    </form>
                </div>
            </div>
        </div>

        <!-- data accordions -->
        <div class="container">
            <div class="accordion borderless" id="learnedStatus">
                {% for dataset_label, dataset in datasets %}
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <!-- top line is to only have one outer accordion open, bottom line is to allow both to be open -->
                            <!--<button class="accordion-button{% if dataset_label!='Learned Recipes' %}{{' collapsed'}}{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{'_'.join(dataset_label.split())}}" aria-expanded="{% if dataset_label=='Learned Recipes' %}{{'true'}}{% else %}{{'false'}}{% endif %}" aria-controls="collapse_{{'_'.join(dataset_label.split())}}">-->
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{'_'.join(dataset_label.split())}}" aria-expanded="true" aria-controls="collapse_{{'_'.join(dataset_label.split())}}">
                                {{dataset_label}}
                            </button>
                        </h2>
                        <!-- top line is to only have one outer accordion open, bottom line is to allow both to be open -->
                        <!--<div id="collapse_{{'_'.join(dataset_label.split())}}" class="accordion-collapse collapse{% if dataset_label=='Learned Recipes' %}{{' show'}}{% endif %}" data-bs-parent="#learnedStatus">-->
                        <div id="collapse_{{'_'.join(dataset_label.split())}}" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                <div class="accordion borderless" id="{{'_'.join(dataset_label.split())}}_Items">
                                    {% for item_set in dataset %}
                                        {% if (session[profession_name+'_search'] == '' or session[profession_name+'_search'].lower() in item_set['item'].lower()) and (session[profession_name+'_select'] == 'none' or item_set['tag'].lower() == session[profession_name+'_select']) %}
                                            <div class="accordion-item">
                                                <h2 class="accordion-header">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{'_'.join(dataset_label.split())}}_item{{loop.index}}" aria-expanded="false" aria-controls="{{'_'.join(dataset_label.split())}}_item{{loop.index}}">
                                                        <a class="hide-link" href="#" rel="item={{item_set['id']}}"><img src="{{item_set['icon']}}" class="tiny-icon {{item_set['rarity']}}-rarity">{{item_set['item']}} {% if item_set['base_quantity']|string != "1" %}({{item_set['base_quantity']}}){% endif %}</a>
                                                    </button>
                                                </h2>
                    
                                                <div id="{{'_'.join(dataset_label.split())}}_item{{loop.index}}" class="accordion-collapse collapse" data-bs-parent="#{{'_'.join(dataset_label.split())}}_Items">
                                                    <div class="accordion-body">
                                                        <div><strong>Crafter:</strong> {{item_set['character']}}</div>

                                                        <div class="row justify-content-start gx-5">
                                                            <!-- First Column -->
                                                            <div class="col-sm-auto">
                                                                <!-- First Table of First Column-->
                                                                <div class="row">
                                                                    <table class="table table-hover table-bordered">
                                                                        <tr>
                                                                            <th class="centered-header">Reagent</th>
                                                                            <th class="centered-header">Quantity</th>
                                                                        </tr>
                                                                        
                                                                        {% for reagent in item_set['reagents'].keys() %}
                                                                            <tr>
                                                                                <td> <a class="hide-link" href="#" rel="item={{reagent}}"><img src="{{items[items['id']==reagent]['icon'].values[0]}}" class="tinier-icon"> {{items[items['id']==reagent]['item'].values[0].replace('Transmute: ', '')}}</a> </td>
                                                                                <td> {{item_set['reagents'].get(reagent)}} </td>
                                                                            </tr>
                                                                        {% endfor %}
                                                                    </table>
                                                                </div>

                                                                <!-- Second Table of First Column which may not appear-->
                                                                {% if (item_set['has_crest_slot'] or item_set['has_missive_slot'] or item_set['has_embellishment_slot'] or item_set['has_tinker_slot']) %}
                                                                    {% if (item_set['inspiration_percent'] == item_set['inspiration_percent']) or (item_set['multicraft_percent'] == item_set['multicraft_percent']) %}
                                                                        <div class="row">
                                                                            <table class="table table-hover table-bordered">
                                                                                <tr>
                                                                                    <th class="centered-header">Stat</th>
                                                                                    <th class="centered-header">Value</th>
                                                                                </tr>

                                                                                {% if item_set['inspiration_percent'] == item_set['inspiration_percent'] %}
                                                                                <tr>
                                                                                    <td>Inspiration (+{{item_set['inspiration_skill']}})</td>
                                                                                    <td>{{item_set['inspiration_percent']}}%</td>
                                                                                </tr>
                                                                                {% endif %}
            
                                                                                {% if item_set['multicraft_percent'] == item_set['multicraft_percent'] %}
                                                                                    <tr>
                                                                                        <td>Multicraft</td>
                                                                                        <td>{{item_set['multicraft_percent']}}%</td>
                                                                                    </tr>
                                                                                {% endif %}
                                                                            </table>
                                                                        </div>
                                                                    {% endif %}
                                                                {% endif %}
                                                            </div>

                                                            <!-- Second Column that may not always be needed-->
                                                            {% if not (item_set['has_crest_slot'] or item_set['has_missive_slot'] or item_set['has_embellishment_slot'] or item_set['has_tinker_slot']) %}
                                                                <div class="col-sm-auto">
                                                                    {% if (item_set['inspiration_percent'] == item_set['inspiration_percent']) or (item_set['multicraft_percent'] == item_set['multicraft_percent']) or (item_set['difficulty'] == item_set['difficulty']) %}
                                                                        <div class="row">
                                                                            <table class="table table-hover table-bordered">
                                                                                <tr>
                                                                                    <th class="centered-header">Stat</th>
                                                                                    <th class="centered-header">Value</th>
                                                                                </tr>

                                                                                {% if item_set['difficulty'] == item_set['difficulty'] %}
                                                                                    <tr>
                                                                                        <td>Difficulty</td>
                                                                                        <td>{{item_set['difficulty']}}</td>
                                                                                    </tr>
                                                                                {% endif %}

                                                                                {% if item_set['skill1'] == item_set['skill1'] and not item_set['has_reagent_qualities'] %}
                                                                                    <tr>
                                                                                        <td>Skill</td>
                                                                                        <td>{{item_set['skill1']}}</td>
                                                                                    </tr>
                                                                                {% endif %}                                                                                

                                                                                {% if item_set['inspiration_percent'] == item_set['inspiration_percent'] %}
                                                                                    <tr>
                                                                                        <td>Inspiration (+{{item_set['inspiration_skill']}})</td>
                                                                                        <td>{{item_set['inspiration_percent']}}%</td>
                                                                                    </tr>
                                                                                {% endif %}
            
                                                                                {% if item_set['multicraft_percent'] == item_set['multicraft_percent'] %}
                                                                                    <tr>
                                                                                        <td>Multicraft</td>
                                                                                        <td>{{item_set['multicraft_percent']}}%</td>
                                                                                    </tr>
                                                                                {% endif %}
                                                                            </table>
                                                                        </div>
                                                                    {% endif %}
                                                                </div>
                                                            {% endif %}

                                                            <!-- Second/Third Column -->
                                                            <div class="col-sm-auto">
                                                                <!-- Skill Level Table -->
                                                                {% if (item_set['skill1'] == item_set['skill1']) and (item_set['has_reagent_qualities'])%}
                                                                    <div class="row">
                                                                        <table class="table table-hover table-bordered">
                                                                            <tr>
                                                                                <th class="centered-header">Stat</th>
                                                                                <!--
                                                                                <th class="centered-header">Rank 1 Mats{% if item_set['tag'] not in ['Gear (Combat)', 'Gear (Profession)'] %}<br>Chance (+HSV){% endif %}</th>
                                                                                <th class="centered-header">Rank 2 Mats{% if item_set['tag'] not in ['Gear (Combat)', 'Gear (Profession)'] %}<br>Chance (+HSV){% endif %}</th>
                                                                                <th class="centered-header">Rank 3 Mats{% if item_set['tag'] not in ['Gear (Combat)', 'Gear (Profession)'] %}<br>Chance (+HSV){% endif %}</th>
                                                                                -->
                                                                                <th class="centered-header">Rank 1 Mats</th>
                                                                                <th class="centered-header">Rank 2 Mats</th>
                                                                                <th class="centered-header">Rank 3 Mats</th>                      
                                                                            </tr>

                                                                            <tr>
                                                                                <td>Skill</td>
                                                                                <td>{{item_set['skill1']}}</td>
                                                                                <td>{{item_set['skill2']}}</td>
                                                                                <td>{{item_set['skill3']}}</td>
                                                                            </tr>

                                                                            {% if item_set['tag'] not in ['Gear (Combat)', 'Gear (Profession)'] %}
                                                                                <tr>
                                                                                    <td>R3 Chance (+HSV)</td>
                                                                                    <td>{{item_set['odds1']}}% ({{item_set['odds_hsv1']}}%)</td>
                                                                                    <td>{{item_set['odds2']}}% ({{item_set['odds_hsv2']}}%)</td>
                                                                                    <td>{{item_set['odds3']}}% ({{item_set['odds_hsv3']}}%)</td>
                                                                                </tr>
                                                                            {% endif %}
                                                                        </table>
                                                                    </div>
                                                                {% endif %}

                                                                <!-- Difficulty Level Table -->
                                                                <div class="row">
                                                                    <!--{% if item_set['tag']=='Gear (Combat)' or item_set['tag']=='Gear (Profession)' and item_set %}{% endif %}-->
                                                                    {% if (item_set['has_crest_slot'] or item_set['has_missive_slot'] or item_set['has_embellishment_slot'] or item_set['has_tinker_slot']) %}
                                                                        <table class="table table-hover table-bordered">
                                                                            <tr>
                                                                                <th class="centered-header">Modifications</th>
                                                                                <th class="centered-header">Difficulty</th>
                                                                                <th class="centered-header">Rank 1 Mats<br>Chance (+HSV)</th>
                                                                                <th class="centered-header">Rank 2 Mats<br>Chance (+HSV)</th>
                                                                                <th class="centered-header">Rank 3 Mats<br>Chance (+HSV)</th>
                                                                            </tr>

                                                                            <tr>
                                                                                <td>No Crest</td>
                                                                                <td>{{item_set['difficulty']}}</td>
                                                                                <td>{{item_set['odds1']}}% ({{item_set['odds_hsv1']}}%)</td>
                                                                                <td>{{item_set['odds2']}}% ({{item_set['odds_hsv2']}}%)</td>
                                                                                <td>{{item_set['odds3']}}% ({{item_set['odds_hsv3']}}%)</td>
                                                                            </tr>

                                                                            {% if item_set['has_tinker_slot'] %}
                                                                                <tr>
                                                                                    <td>No Crest (R3 {% if item_set['profession']=='Inscription' %} Sigil {% else %} Safety Component {% endif %})</td>
                                                                                    <td>{{item_set['difficulty_tinker']}}</td>
                                                                                    <td>{{item_set['odds_tinker1']}}% ({{item_set['odds_tinker_hsv1']}}%)</td>
                                                                                    <td>{{item_set['odds_tinker2']}}% ({{item_set['odds_tinker_hsv2']}}%)</td>
                                                                                    <td>{{item_set['odds_tinker3']}}% ({{item_set['odds_tinker_hsv3']}}%)</td>
                                                                                </tr>
                                                                            {% endif %}

                                                                            {% if item_set['has_missive_slot'] %}
                                                                                <tr>
                                                                                    <td>No Crest (R3 Missive)</td>
                                                                                    <td>{{item_set['difficulty_missive']}}</td>
                                                                                    <td>{{item_set['odds_missive1']}}% ({{item_set['odds_missive_hsv1']}}%)</td>
                                                                                    <td>{{item_set['odds_missive2']}}% ({{item_set['odds_missive_hsv2']}}%)</td>
                                                                                    <td>{{item_set['odds_missive3']}}% ({{item_set['odds_missive_hsv3']}}%)</td>
                                                                                </tr>
                                                                            {% endif %}

                                                                            {% if item_set['has_embellishment_slot'] %}
                                                                                <tr>
                                                                                    <td>No Crest (R3 Embellishment)</td>
                                                                                    <td>{{item_set['difficulty_embellishment']}}</td>
                                                                                    <td>{{item_set['odds_embellishment1']}}% ({{item_set['odds_embellishment_hsv1']}}%)</td>
                                                                                    <td>{{item_set['odds_embellishment2']}}% ({{item_set['odds_embellishment_hsv2']}}%)</td>
                                                                                    <td>{{item_set['odds_embellishment3']}}% ({{item_set['odds_embellishment_hsv3']}}%)</td>
                                                                                </tr>
                                                                            {% endif %}

                                                                            {% if item_set['has_missive_slot'] and item_set['has_tinker_slot'] %}
                                                                                <tr>
                                                                                    <td>No Crest (R3 {% if item_set['profession']=='Inscription' %} Sigil {% else %} Safety Component {% endif %} + R3 Missive)</td>
                                                                                    <td>{{item_set['difficulty_tinker_missive']}}</td>
                                                                                    <td>{{item_set['odds_tinker_missive1']}}% ({{item_set['odds_tinker_missive_hsv1']}}%)</td>
                                                                                    <td>{{item_set['odds_tinker_missive2']}}% ({{item_set['odds_tinker_missive_hsv2']}}%)</td>
                                                                                    <td>{{item_set['odds_tinker_missive3']}}% ({{item_set['odds_tinker_missive_hsv3']}}%)</td>
                                                                                </tr>
                                                                            {% endif %}

                                                                            {% if item_set['has_missive_slot'] and item_set['has_embellishment_slot'] %}
                                                                                <tr>
                                                                                    <td>No Crest (R3 Missive + R3 Embellishment)</td>
                                                                                    <td>{{item_set['difficulty_missive_embellishment']}}</td>
                                                                                    <td>{{item_set['odds_missive_embellishment1']}}% ({{item_set['odds_missive_embellishment_hsv1']}}%)</td>
                                                                                    <td>{{item_set['odds_missive_embellishment2']}}% ({{item_set['odds_missive_embellishment_hsv2']}}%)</td>
                                                                                    <td>{{item_set['odds_missive_embellishment3']}}% ({{item_set['odds_missive_embellishment_hsv3']}}%)</td>
                                                                                </tr>
                                                                            {% endif %}

                                                                            {% if item_set['has_crest_slot'] and item_set['tag']=='Gear (Combat)' and item_set['rarity']=='rare' %}
                                                                                <tr>
                                                                                    <td>Whelping Crest</td>
                                                                                    <td>{{item_set['difficulty_whelpling']}}</td>
                                                                                    <td>{{item_set['odds_whelpling1']}}% ({{item_set['odds_whelpling_hsv1']}}%)</td>
                                                                                    <td>{{item_set['odds_whelpling2']}}% ({{item_set['odds_whelpling_hsv2']}}%)</td>
                                                                                    <td>{{item_set['odds_whelpling3']}}% ({{item_set['odds_whelpling_hsv3']}}%)</td>
                                                                                </tr>

                                                                                {% if item_set['has_tinker_slot'] %}
                                                                                    <tr>
                                                                                        <td>Whelpling Crest (R3 {% if item_set['profession']=='Inscription' %} Sigil {% else %} Safety Component {% endif %})</td>
                                                                                        <td>{{item_set['difficulty_whelpling_tinker']}}</td>
                                                                                        <td>{{item_set['odds_whelpling_tinker1']}}% ({{item_set['odds_whelpling_tinker_hsv1']}}%)</td>
                                                                                        <td>{{item_set['odds_whelpling_tinker2']}}% ({{item_set['odds_whelpling_tinker_hsv2']}}%)</td>
                                                                                        <td>{{item_set['odds_whelpling_tinker3']}}% ({{item_set['odds_whelpling_tinker_hsv3']}}%)</td>
                                                                                    </tr>
                                                                                {% endif %}

                                                                                {% if item_set['has_missive_slot'] %}
                                                                                    <tr>
                                                                                        <td>Whelpling Crest (R3 Missive)</td>
                                                                                        <td>{{item_set['difficulty_whelpling_missive']}}</td>
                                                                                        <td>{{item_set['odds_whelpling_missive1']}}% ({{item_set['odds_whelpling_missive_hsv1']}}%)</td>
                                                                                        <td>{{item_set['odds_whelpling_missive2']}}% ({{item_set['odds_whelpling_missive_hsv2']}}%)</td>
                                                                                        <td>{{item_set['odds_whelpling_missive3']}}% ({{item_set['odds_whelpling_missive_hsv3']}}%)</td>
                                                                                    </tr>
                                                                                {% endif %}

                                                                                {% if item_set['has_embellishment_slot'] %}
                                                                                    <tr>
                                                                                        <td>Whelpling Crest (R3 Embellishment)</td>
                                                                                        <td>{{item_set['difficulty_whelpling_embellishment']}}</td>
                                                                                        <td>{{item_set['odds_whelpling_embellishment1']}}% ({{item_set['odds_whelpling_embellishment_hsv1']}}%)</td>
                                                                                        <td>{{item_set['odds_whelpling_embellishment2']}}% ({{item_set['odds_whelpling_embellishment_hsv2']}}%)</td>
                                                                                        <td>{{item_set['odds_whelpling_embellishment3']}}% ({{item_set['odds_whelpling_embellishment_hsv3']}}%)</td>
                                                                                    </tr>
                                                                                {% endif %}

                                                                                {% if item_set['has_missive_slot'] and item_set['has_tinker_slot'] %}
                                                                                    <tr>
                                                                                        <td>Whelpling Crest (R3 {% if item_set['profession']=='Inscription' %} Sigil {% else %} Safety Component {% endif %} + R3 Missive)</td>
                                                                                        <td>{{item_set['difficulty_whelpling_tinker_missive']}}</td>
                                                                                        <td>{{item_set['odds_whelpling_tinker_missive1']}}% ({{item_set['odds_whelpling_tinker_missive_hsv1']}}%)</td>
                                                                                        <td>{{item_set['odds_whelpling_tinker_missive2']}}% ({{item_set['odds_whelpling_tinker_missive_hsv2']}}%)</td>
                                                                                        <td>{{item_set['odds_whelpling_tinker_missive3']}}% ({{item_set['odds_whelpling_tinker_missive_hsv3']}}%)</td>
                                                                                    </tr>
                                                                                {% endif %}

                                                                                {% if item_set['has_missive_slot'] and item_set['has_embellishment_slot'] %}
                                                                                    <tr>
                                                                                        <td>Whelpling Crest (R3 Missive + R3 Embellishment)</td>
                                                                                        <td>{{item_set['difficulty_whelpling_missive_embellishment']}}</td>
                                                                                        <td>{{item_set['odds_whelpling_missive_embellishment1']}}% ({{item_set['odds_whelpling_missive_embellishment_hsv1']}}%)</td>
                                                                                        <td>{{item_set['odds_whelpling_missive_embellishment2']}}% ({{item_set['odds_whelpling_missive_embellishment_hsv2']}}%)</td>
                                                                                        <td>{{item_set['odds_whelpling_missive_embellishment3']}}% ({{item_set['odds_whelpling_missive_embellishment_hsv3']}}%)</td>
                                                                                    </tr>
                                                                                {% endif %}
                                                                            {% endif %}

                                                                            {% if item_set['has_crest_slot'] and item_set['tag']=='Gear (Combat)' and item_set['rarity']=='epic'%}
                                                                                <tr>
                                                                                    <td>Wyrm Crest</td>
                                                                                    <td>{{item_set['difficulty_wyrm']}}</td>
                                                                                    <td>{{item_set['odds_wyrm1']}}% ({{item_set['odds_wyrm_hsv1']}}%)</td>
                                                                                    <td>{{item_set['odds_wyrm2']}}% ({{item_set['odds_wyrm_hsv2']}}%)</td>
                                                                                    <td>{{item_set['odds_wyrm3']}}% ({{item_set['odds_wyrm_hsv3']}}%)</td>
                                                                                </tr>

                                                                                {% if item_set['has_tinker_slot'] %}
                                                                                    <tr>
                                                                                        <td>Wyrm Crest (R3 {% if item_set['profession']=='Inscription' %} Sigil {% else %} Safety Component {% endif %})</td>
                                                                                        <td>{{item_set['difficulty_wyrm_tinker']}}</td>
                                                                                        <td>{{item_set['odds_wyrm_tinker1']}}% ({{item_set['odds_wyrm_tinker_hsv1']}}%)</td>
                                                                                        <td>{{item_set['odds_wyrm_tinker2']}}% ({{item_set['odds_wyrm_tinker_hsv2']}}%)</td>
                                                                                        <td>{{item_set['odds_wyrm_tinker3']}}% ({{item_set['odds_wyrm_tinker_hsv3']}}%)</td>
                                                                                    </tr>
                                                                                {% endif %}

                                                                                {% if item_set['has_missive_slot'] %}
                                                                                    <tr>
                                                                                        <td>Wyrm Crest (R3 Missive)</td>
                                                                                        <td>{{item_set['difficulty_wyrm_missive']}}</td>
                                                                                        <td>{{item_set['odds_wyrm_missive1']}}% ({{item_set['odds_wyrm_missive_hsv1']}}%)</td>
                                                                                        <td>{{item_set['odds_wyrm_missive2']}}% ({{item_set['odds_wyrm_missive_hsv2']}}%)</td>
                                                                                        <td>{{item_set['odds_wyrm_missive3']}}% ({{item_set['odds_wyrm_missive_hsv3']}}%)</td>
                                                                                    </tr>
                                                                                {% endif %}

                                                                                {% if item_set['has_embellishment_slot'] %}
                                                                                    <tr>
                                                                                        <td>Wyrm Crest (R3 Embellishment)</td>
                                                                                        <td>{{item_set['difficulty_wyrm_embellishment']}}</td>
                                                                                        <td>{{item_set['odds_wyrm_embellishment1']}}% ({{item_set['odds_wyrm_embellishment_hsv1']}}%)</td>
                                                                                        <td>{{item_set['odds_wyrm_embellishment2']}}% ({{item_set['odds_wyrm_embellishment_hsv2']}}%)</td>
                                                                                        <td>{{item_set['odds_wyrm_embellishment3']}}% ({{item_set['odds_wyrm_embellishment_hsv3']}}%)</td>
                                                                                    </tr>
                                                                                {% endif %}

                                                                                {% if item_set['has_missive_slot'] and item_set['has_tinker_slot'] %}
                                                                                    <tr>
                                                                                        <td>Wyrm Crest (R3 {% if item_set['profession']=='Inscription' %} Sigil {% else %} Safety Component {% endif %} + R3 Missive)</td>
                                                                                        <td>{{item_set['difficulty_wyrm_tinker_missive']}}</td>
                                                                                        <td>{{item_set['odds_wyrm_tinker_missive1']}}% ({{item_set['odds_wyrm_tinker_missive_hsv1']}}%)</td>
                                                                                        <td>{{item_set['odds_wyrm_tinker_missive2']}}% ({{item_set['odds_wyrm_tinker_missive_hsv2']}}%)</td>
                                                                                        <td>{{item_set['odds_wyrm_tinker_missive3']}}% ({{item_set['odds_wyrm_tinker_missive_hsv3']}}%)</td>
                                                                                    </tr>
                                                                                {% endif %}

                                                                                {% if item_set['has_missive_slot'] and item_set['has_embellishment_slot'] %}
                                                                                    <tr>
                                                                                        <td>Wyrm Crest (R3 Missive + R3 Embellishment)</td>
                                                                                        <td>{{item_set['difficulty_wyrm_missive_embellishment']}}</td>
                                                                                        <td>{{item_set['odds_wyrm_missive_embellishment1']}}% ({{item_set['odds_wyrm_missive_embellishment_hsv1']}}%)</td>
                                                                                        <td>{{item_set['odds_wyrm_missive_embellishment2']}}% ({{item_set['odds_wyrm_missive_embellishment_hsv2']}}%)</td>
                                                                                        <td>{{item_set['odds_wyrm_missive_embellishment3']}}% ({{item_set['odds_wyrm_missive_embellishment_hsv3']}}%)</td>
                                                                                    </tr>
                                                                                {% endif %}

                                                                                <tr>
                                                                                    <td>Aspect Crest</td>
                                                                                    <td>{{item_set['difficulty_aspect']}}</td>
                                                                                    <td>{{item_set['odds_aspect1']}}% ({{item_set['odds_aspect_hsv1']}}%)</td>
                                                                                    <td>{{item_set['odds_aspect2']}}% ({{item_set['odds_aspect_hsv2']}}%)</td>
                                                                                    <td>{{item_set['odds_aspect3']}}% ({{item_set['odds_aspect_hsv3']}}%)</td>
                                                                                </tr>

                                                                                {% if item_set['has_tinker_slot'] %}
                                                                                    <tr>
                                                                                        <td>Aspect Crest (R3 {% if item_set['profession']=='Inscription' %} Sigil {% else %} Safety Component {% endif %})</td>
                                                                                        <td>{{item_set['difficulty_aspect_tinker']}}</td>
                                                                                        <td>{{item_set['odds_aspect_tinker1']}}% ({{item_set['odds_aspect_tinker_hsv1']}}%)</td>
                                                                                        <td>{{item_set['odds_aspect_tinker2']}}% ({{item_set['odds_aspect_tinker_hsv2']}}%)</td>
                                                                                        <td>{{item_set['odds_aspect_tinker3']}}% ({{item_set['odds_aspect_tinker_hsv3']}}%)</td>
                                                                                    </tr>
                                                                                {% endif %}

                                                                                {% if item_set['has_missive_slot'] %}
                                                                                    <tr>
                                                                                        <td>Aspect Crest (R3 Missive)</td>
                                                                                        <td>{{item_set['difficulty_aspect_missive']}}</td>
                                                                                        <td>{{item_set['odds_aspect_missive1']}}% ({{item_set['odds_aspect_missive_hsv1']}}%)</td>
                                                                                        <td>{{item_set['odds_aspect_missive2']}}% ({{item_set['odds_aspect_missive_hsv2']}}%)</td>
                                                                                        <td>{{item_set['odds_aspect_missive3']}}% ({{item_set['odds_aspect_missive_hsv3']}}%)</td>
                                                                                    </tr>
                                                                                {% endif %}

                                                                                {% if item_set['has_embellishment_slot'] %}
                                                                                    <tr>
                                                                                        <td>Aspect Crest (R3 Embellishment)</td>
                                                                                        <td>{{item_set['difficulty_aspect_embellishment']}}</td>
                                                                                        <td>{{item_set['odds_aspect_embellishment1']}}% ({{item_set['odds_aspect_embellishment_hsv1']}}%)</td>
                                                                                        <td>{{item_set['odds_aspect_embellishment2']}}% ({{item_set['odds_aspect_embellishment_hsv2']}}%)</td>
                                                                                        <td>{{item_set['odds_aspect_embellishment3']}}% ({{item_set['odds_aspect_embellishment_hsv3']}}%)</td>
                                                                                    </tr>
                                                                                {% endif %}

                                                                                {% if item_set['has_missive_slot'] and item_set['has_tinker_slot'] %}
                                                                                    <tr>
                                                                                        <td>Aspect Crest (R3 {% if item_set['profession']=='Inscription' %} Sigil {% else %} Safety Component {% endif %} + R3 Missive)</td>
                                                                                        <td>{{item_set['difficulty_aspect_tinker_missive']}}</td>
                                                                                        <td>{{item_set['odds_aspect_tinker_missive1']}}% ({{item_set['odds_aspect_tinker_missive_hsv1']}}%)</td>
                                                                                        <td>{{item_set['odds_aspect_tinker_missive2']}}% ({{item_set['odds_aspect_tinker_missive_hsv2']}}%)</td>
                                                                                        <td>{{item_set['odds_aspect_tinker_missive3']}}% ({{item_set['odds_aspect_tinker_missive_hsv3']}}%)</td>
                                                                                    </tr>
                                                                                {% endif %}

                                                                                {% if item_set['has_missive_slot'] and item_set['has_embellishment_slot'] %}
                                                                                    <tr>
                                                                                        <td>Aspect Crest (R3 Missive + R3 Embellishment)</td>
                                                                                        <td>{{item_set['difficulty_aspect_missive_embellishment']}}</td>
                                                                                        <td>{{item_set['odds_aspect_missive_embellishment1']}}% ({{item_set['odds_aspect_missive_embellishment_hsv1']}}%)</td>
                                                                                        <td>{{item_set['odds_aspect_missive_embellishment2']}}% ({{item_set['odds_aspect_missive_embellishment_hsv2']}}%)</td>
                                                                                        <td>{{item_set['odds_aspect_missive_embellishment3']}}% ({{item_set['odds_aspect_missive_embellishment_hsv3']}}%)</td>
                                                                                    </tr>
                                                                                {% endif %}    
                                                                            {% endif %}
                                                                        </table>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>    
                                        {% endif %}
                                    {% endfor %}            
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>