<!DOCTYPE html>

{% set IMG_DIR = "../static/images/" %}
{% set gear_qualities = [IMG_DIR~"rank1.png", IMG_DIR~"rank2.png", IMG_DIR~"rank3.png", IMG_DIR~"rank4.png", IMG_DIR~"rank5.png"] %}
{% set non_gear_qualities = [IMG_DIR~"rank1_midnight.png", IMG_DIR~"rank2_midnight.png"] %}

<html>
    <head>
        <meta charset="utf-8">
        <title>{{profession_name|title}}</title>
        <meta name="author" content="Trillithia-Zul'jin">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <script>const whTooltips = {colorLinks: false, iconizeLinks: false, renameLinks: false};</script>
        <script src="https://wow.zamimg.com/js/tooltips.js"></script>
        <link href="../static/style.css" rel="stylesheet">
        <link href="{{ IMG_DIR ~ "favicon.png" }}" rel="icon">
    </head>

    <body class="bg-dark">
        <nav class="navbar navbar-expand-lg bg-dark border-body" data-bs-theme="dark">
            <div class="container-fluid relative-pos">
                <!-- button gives the button to expand a collapsed navbar on small screens -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> 
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="col">
                        <!-- expansion navbar -->
                        <div class="row mb-2" id="top-navbar">
                            <ul class="navbar-nav nav-tabs me-auto mb-2 mb-lg-0 full-width">
                                <li class="nav-item"><a class="nav-link" href="{{url_for('index')}}"><img class="tinier-icon borderless" src={{ IMG_DIR ~ "home8.png" }}>Home</a></li>
                                <li class="nav-item"><a class="nav-link" aria-current="false" href="{{url_for('dragonflight')}}"><img class="tiniester-icon borderless" src={{ IMG_DIR ~ "dragonflight_icon.png" }}>Dragonflight</a></li>
                                <li class="nav-item"><a class="nav-link" aria-current="false" href="{{url_for('the_war_within')}}"><img class="tiniester-icon borderless" src={{ IMG_DIR ~ "the_war_within_icon.png" }}>The War Within</a></li>
                                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{url_for('midnight')}}"><img class="tiniester-icon borderless" src={{ IMG_DIR ~ "midnight_icon.png" }}>Midnight</a></li>
                            </ul>
                        </div>

                        <!-- profession navbar -->
                        {% set isAlchemy = (profession_name=='alchemy') %}
                        {% set isBlacksmithing = (profession_name=='blacksmithing') %}
                        {% set isCooking = (profession_name=='cooking') %}
                        {% set isEnchanting = (profession_name=='enchanting') %}
                        {% set isEngineering = (profession_name=='engineering') %}
                        {% set isInscription = (profession_name=='inscription') %}
                        {% set isJewelcrafting = (profession_name=='jewelcrafting') %}
                        {% set isLeatherworking = (profession_name=='leatherworking') %}
                        {% set isTailoring = (profession_name=='tailoring') %}
                        <div class="row top-buffer" id="bottom-navbar">
                            <ul class="navbar-nav nav-tabs me-auto mb-2 mb-lg-0 full-width">
                                <li class="nav-item"><a class="nav-link {% if isAlchemy %}active{% endif %}" aria-current={% if isAlchemy %}"page"{% else %}"false"{% endif %} href="{{url_for('alchemy_Midnight')}}"><img class="tinier-icon" src={{ IMG_DIR ~ "alchemy_small.jpg" }}>Alchemy</a></li>
                                <li class="nav-item"><a class="nav-link {% if isBlacksmithing %}active{% endif %}" aria-current={% if isBlacksmithing %}"page"{% else %}"false"{% endif %} href="{{url_for('blacksmithing_Midnight')}}"><img class="tinier-icon" src={{ IMG_DIR ~ "blacksmithing_small.jpg" }}>Blacksmithing</a></li>
                                <li class="nav-item"><a class="nav-link {% if isCooking %}active{% endif %}" aria-current={% if isCooking %}"page"{% else %}"false"{% endif %} href="{{url_for('cooking_Midnight')}}"><img class="tinier-icon" src={{ IMG_DIR ~ "cooking_small.jpg" }}>Cooking</a></li>
                                <li class="nav-item"><a class="nav-link {% if isEnchanting %}active{% endif %}" aria-current={% if isEnchanting %}"page"{% else %}"false"{% endif %} href="{{url_for('enchanting_Midnight')}}"><img class="tinier-icon" src={{ IMG_DIR ~ "enchanting_small.jpg" }}>Enchanting</a></li>
                                <li class="nav-item"><a class="nav-link {% if isEngineering %}active{% endif %}" aria-current={% if isEngineering %}"page"{% else %}"false"{% endif %} href="{{url_for('engineering_Midnight')}}"><img class="tinier-icon" src={{ IMG_DIR ~ "engineering_small.jpg" }}>Engineering</a></li>
                                <li class="nav-item"><a class="nav-link {% if isInscription %}active{% endif %}" aria-current={% if isInscription %}"page"{% else %}"false"{% endif %} href="{{url_for('inscription_Midnight')}}"><img class="tinier-icon" src={{ IMG_DIR ~ "inscription_small.jpg" }}>Inscription</a></li>
                                <li class="nav-item"><a class="nav-link {% if isJewelcrafting %}active{% endif %}" aria-current={% if isJewelcrafting %}"page"{% else %}"false"{% endif %} href="{{url_for('jewelcrafting_Midnight')}}"><img class="tinier-icon" src={{ IMG_DIR ~ "jewelcrafting_small.jpg" }}>Jewelcrafting</a></li>
                                <li class="nav-item"><a class="nav-link {% if isLeatherworking %}active{% endif %}" aria-current={% if isLeatherworking %}"page"{% else %}"false"{% endif %} href="{{url_for('leatherworking_Midnight')}}"><img class="tinier-icon" src={{ IMG_DIR ~ "leatherworking_small.jpg" }}>Leatherworking</a></li>
                                <li class="nav-item"><a class="nav-link {% if isTailoring %}active{% endif %}" aria-current={% if isTailoring %}"page"{% else %}"false"{% endif %} href="{{url_for('tailoring_Midnight')}}"><img class="tinier-icon" src={{ IMG_DIR ~ "tailoring_small.jpg" }}>Tailoring</a></li>
                            </ul>
                        </div>
                    </div>
                </div>   

                <div id="last-updated">
                    <p>Last Updated: {{last_update}}</p>
                </div>
            </div>
        </nav>

        <!-- search and filter bar -->
        <div class="container mt-1 mb-1">
            <div class="row justify-content-end">
                <div class="col-sm-auto">
                    <form method="POST">
                        {{form.hidden_tag()}}
                        <span class="white-text">{{form.select.label}}</span> {{form.select()}} {{form.search()}} {{form.submit()}} {{form.clear()}}
                    </form>
                </div>
            </div>
        </div>

        <!-- data accordions -->
        <div class="container">
            <div class="accordion borderless" id="learnedStatus">
                {% for dataset_label, dataset in datasets %}
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <!-- top line is to only have one outer accordion open, bottom line is to allow both to be open -->
                            <!--<button class="accordion-button{% if dataset_label!='Learned Recipes' %}{{' collapsed'}}{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{'_'.join(dataset_label.split())}}" aria-expanded="{% if dataset_label=='Learned Recipes' %}{{'true'}}{% else %}{{'false'}}{% endif %}" aria-controls="collapse_{{'_'.join(dataset_label.split())}}">-->
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{'_'.join(dataset_label.split())}}" aria-expanded="true" aria-controls="collapse_{{'_'.join(dataset_label.split())}}">
                                <span class="header-font">{{dataset_label}}</span>
                            </button>
                        </h2>
                        <!-- top line is to only have one outer accordion open, bottom line is to allow both to be open -->
                        <!--<div id="collapse_{{'_'.join(dataset_label.split())}}" class="accordion-collapse collapse{% if dataset_label=='Learned Recipes' %}{{' show'}}{% endif %}" data-bs-parent="#learnedStatus">-->
                        <div id="collapse_{{'_'.join(dataset_label.split())}}" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                <div class="accordion borderless" id="{{'_'.join(dataset_label.split())}}_Items">
                                    {% for item_set in dataset %} <!-- item_set is the data dictionary for a singular item -->
                                        {% set hasModifications = (item_set['hasCrestSlot'] or item_set['hasMissiveSlot'] or item_set['hasEmbellishmentSlot']) %}
                                        {% set hasDifficulty = (item_set['difficulty']==item_set['difficulty']) %}
                                        {% set hasMulticraft = (item_set['multicraftPercent']==item_set['multicraftPercent']) %}
                                        {% if (item_set['tag'] in ['Gear (Combat)', 'Gear (Profession)', 'Gear (PvP)'])  %} {% set item_qualities = gear_qualities %} {% else %} {% set item_qualities = non_gear_qualities %} {% endif %}
                                        {% set session_search = profession_name + '_Midnight_search' %}
                                        {% set session_select = profession_name + '_Midnight_select' %}
                                        {% if (session[session_search] == '' or session[session_search].lower() in item_set['item'].lower()) and (session[session_select] == 'none' or item_set['tag'].lower() == session[session_select]) %}
                                            <div class="accordion-item">
                                                <h2 class="accordion-header">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{'_'.join(dataset_label.split())}}_item{{loop.index}}" aria-expanded="false" aria-controls="{{'_'.join(dataset_label.split())}}_item{{loop.index}}">
                                                        <a class="hide-link" style="font-size:1em" href="#" rel="item={{item_set['itemID']}}"><img src="{{item_set['icon']}}" class="tiny-icon {{item_set['rarity']}}-rarity">{{item_set['item']}} {% if item_set['baseQuantity']|string != "1" %}({{item_set['baseQuantity']}}){% endif %}</a>
                                                    </button>
                                                </h2>
                    
                                                <div id="{{'_'.join(dataset_label.split())}}_item{{loop.index}}" class="accordion-collapse collapse" data-bs-parent="#{{'_'.join(dataset_label.split())}}_Items">
                                                    <div class="accordion-body">
                                                        <div class="crafter-offset"><strong>Crafter:</strong> {{item_set['character']}}</div>

                                                        <div class="row justify-content-start gx-5">
                                                            <!-- First Column -->
                                                            <div class="col-sm-auto">
                                                                <!-- First Table of First Column-->
                                                                <div class="row table-responsive">
                                                                    <table class="table table-hover table-bordered">
                                                                        <tr>
                                                                            <th class="centered-header">Reagent</th>
                                                                            <th class="centered-header">Quantity</th>
                                                                        </tr>
                                                                        
                                                                        {% for reagent in item_set['reagents'].keys() %}
                                                                            <tr>
                                                                                <td> <a class="hide-link" href="#" rel="item={{reagent}}"><img src="{{items[items['itemID']==reagent]['icon'].values[0]}}" class="tinier-icon"> {{items[items['itemID']==reagent]['item'].values[0].replace('Transmute: ', '')}}</a> </td>
                                                                                <td> {{item_set['reagents'].get(reagent)}} </td>

                                                                            </tr>
                                                                        {% endfor %}
                                                                    </table>
                                                                </div>

                                                                <!-- Second Table of First Column which may not appear-->
                                                                {% if hasModifications and hasMulticraft %}
                                                                    <div class="row table-responsive">
                                                                        <table class="table table-hover table-bordered">
                                                                            <tr>
                                                                                <th class="centered-header">Stat</th>
                                                                                <th class="centered-header">Value</th>
                                                                            </tr>
        
                                                                            {% if hasMulticraft %}
                                                                                <tr>
                                                                                    <td>Multicraft</td>
                                                                                    <td>{{item_set['multicraftPercent']}}%</td>
                                                                                </tr>
                                                                            {% endif %}
                                                                        </table>
                                                                    </div>
                                                                {% endif %}
                                                            </div>

                                                            <!-- Second Column that may not always be needed-->
                                                            {% if hasMulticraft and not hasModifications %}
                                                                <div class="col-sm-auto">
                                                                    <div class="row table-responsive">
                                                                        <table class="table table-hover table-bordered">
                                                                            <tr>
                                                                                <th class="centered-header">Stat</th>
                                                                                <th class="centered-header">Value</th>
                                                                            </tr>
        
                                                                            {% if hasMulticraft %}
                                                                                <tr>
                                                                                    <td>Multicraft</td>
                                                                                    <td>{{item_set['multicraftPercent']}}%</td>
                                                                                </tr>
                                                                            {% endif %}
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            {% endif %}

                                                            <!--
                                                            {% set quality1 = '../static/images/rank1.png' %}
                                                            {% set quality2 = '../static/images/rank2.png' %}
                                                            {% set quality3 = '../static/images/rank3.png' %}
                                                            {% set quality4 = '../static/images/rank4.png' %}
                                                            {% set quality5 = '../static/images/rank5.png' %}
                                                            -->

                                                            <!-- Second/Third Column -->
                                                            {% if hasDifficulty %} <!-- np.nan != np.nan, so prevents items without a difficulty -->
                                                                <div class="col-sm-auto">
                                                                    <!-- Difficulty Level Table -->
                                                                    <div class="row table-responsive">
                                                                        <table class="table table-hover table-bordered">
                                                                            <tr>
                                                                                {% if hasModifications %} <th class="centered-header">Modifications</th> {% endif %}
                                                                                <th class="centered-header"><img src={{non_gear_qualities[0]}} class="borderless tiny-icon"> Reagents</th>
                                                                                <th class="centered-header"><img src={{non_gear_qualities[1]}} class="borderless tiny-icon"> Reagents</th>
                                                                            </tr>

                                                                            <tr>
                                                                                {% if hasModifications %} <td>None</td> {% endif %}
                                                                                <td class="centered"><img src={{item_qualities[item_set['rank1mats_outcome']|int -1]}} class="borderless tiny-icon"></td>
                                                                                <td class="centered"><img src={{item_qualities[item_set['rank2mats_outcome']|int -1]}} class="borderless tiny-icon"></td>
                                                                            </tr>

                                                                            {% if item_set['hasMissiveSlot'] %}
                                                                                <tr>
                                                                                    <td><img src={{non_gear_qualities[1]}} class="borderless tinier-icon table-mod-icon-offset"> Missive</td>
                                                                                    <td class="centered"><img src={{item_qualities[item_set['rank1mats_outcome_missive']|int -1]}} class="borderless tiny-icon"></td>
                                                                                    <td class="centered"><img src={{item_qualities[item_set['rank2mats_outcome_missive']|int -1]}} class="borderless tiny-icon"></td>
                                                                                </tr>
                                                                            {% endif %}

                                                                            {% if item_set['hasEmbellishmentSlot'] %}
                                                                                <tr>
                                                                                    <td><img src={{non_gear_qualities[1]}} class="borderless tinier-icon table-mod-icon-offset"> Embellishment</td>
                                                                                    <td class="centered"><img src={{item_qualities[item_set['rank1mats_outcome_embellishment']|int -1]}} class="borderless tiny-icon"></td>
                                                                                    <td class="centered"><img src={{item_qualities[item_set['rank2mats_outcome_embellishment']|int -1]}} class="borderless tiny-icon"></td>
                                                                                </tr>
                                                                            {% endif %}

                                                                            {% if item_set['hasMissiveSlot'] and item_set['hasEmbellishmentSlot'] %}
                                                                                <tr>
                                                                                    <td><img src={{non_gear_qualities[1]}} class="borderless tinier-icon table-mod-icon-offset"> Missive + <img src={{non_gear_qualities[1]}} class="borderless tinier-icon table-mod-icon-offset"> Embellishment</td>
                                                                                    <td class="centered"><img src={{item_qualities[item_set['rank1mats_outcome_missive_embellishment']|int -1]}} class="borderless tiny-icon"></td>
                                                                                    <td class="centered"><img src={{item_qualities[item_set['rank2mats_outcome_missive_embellishment']|int -1]}} class="borderless tiny-icon"></td>
                                                                                </tr>
                                                                            {% endif %}

                                                                            {% if item_set['hasCrestSlot'] and item_set['tag']=='Gear (Combat)' and item_set['rarity']=='rare' %}
                                                                                <tr>
                                                                                    <td>Adventurer Crest</td>
                                                                                    <td class="centered"><img src={{item_qualities[item_set['rank1mats_outcome_adventurer']|int -1]}} class="borderless tiny-icon"></td>
                                                                                    <td class="centered"><img src={{item_qualities[item_set['rank2mats_outcome_adventurer']|int -1]}} class="borderless tiny-icon"></td>
                                                                                </tr>

                                                                                {% if item_set['hasMissiveSlot'] %}
                                                                                    <tr>
                                                                                        <td>Adventurer Crest (<img src={{non_gear_qualities[1]}} class="borderless tinier-icon table-mod-icon-offset"> Missive)</td>
                                                                                        <td class="centered"><img src={{item_qualities[item_set['rank1mats_outcome_adventurer_missive']|int -1]}} class="borderless tiny-icon"></td>
                                                                                        <td class="centered"><img src={{item_qualities[item_set['rank2mats_outcome_adventurer_missive']|int -1]}} class="borderless tiny-icon"></td>
                                                                                    </tr>
                                                                                {% endif %}

                                                                                {% if item_set['hasEmbellishmentSlot'] %}
                                                                                    <tr>
                                                                                        <td>Adventurer Crest (<img src={{non_gear_qualities[1]}} class="borderless tinier-icon table-mod-icon-offset"> Embellishment)</td>
                                                                                        <td class="centered"><img src={{item_qualities[item_set['rank1mats_outcome_adventurer_embellishment']|int -1]}} class="borderless tiny-icon"></td>
                                                                                        <td class="centered"><img src={{item_qualities[item_set['rank2mats_outcome_adventurer_embellishment']|int -1]}} class="borderless tiny-icon"></td>
                                                                                    </tr>
                                                                                {% endif %}

                                                                                {% if item_set['hasMissiveSlot'] and item_set['hasEmbellishmentSlot'] %}
                                                                                    <tr>
                                                                                        <td>Adventurer Crest (<img src={{non_gear_qualities[1]}} class="borderless tinier-icon table-mod-icon-offset"> Missive + <img src={{non_gear_qualities[1]}} class="borderless tinier-icon table-mod-icon-offset"> Embellishment)</td>
                                                                                        <td class="centered"><img src={{item_qualities[item_set['rank1mats_outcome_adventurer_missive_embellishment']|int -1]}} class="borderless tiny-icon"></td>
                                                                                        <td class="centered"><img src={{item_qualities[item_set['rank2mats_outcome_adventurer_missive_embellishment']|int -1]}} class="borderless tiny-icon"></td>
                                                                                    </tr>
                                                                                {% endif %}
                                                                                <tr>
                                                                                    <td>Veteran Crest</td>
                                                                                    <td class="centered"><img src={{item_qualities[item_set['rank1mats_outcome_veteran']|int -1]}} class="borderless tiny-icon"></td>
                                                                                    <td class="centered"><img src={{item_qualities[item_set['rank2mats_outcome_veteran']|int -1]}} class="borderless tiny-icon"></td>
                                                                                </tr>

                                                                                {% if item_set['hasMissiveSlot'] %}
                                                                                    <tr>
                                                                                        <td>Veteran Crest (<img src={{non_gear_qualities[1]}} class="borderless tinier-icon table-mod-icon-offset"> Missive)</td>
                                                                                        <td class="centered"><img src={{item_qualities[item_set['rank1mats_outcome_veteran_missive']|int -1]}} class="borderless tiny-icon"></td>
                                                                                        <td class="centered"><img src={{item_qualities[item_set['rank2mats_outcome_veteran_missive']|int -1]}} class="borderless tiny-icon"></td>
                                                                                    </tr>
                                                                                {% endif %}

                                                                                {% if item_set['hasEmbellishmentSlot'] %}
                                                                                    <tr>
                                                                                        <td>Veteran Crest (<img src={{non_gear_qualities[1]}} class="borderless tinier-icon table-mod-icon-offset"> Embellishment)</td>
                                                                                        <td class="centered"><img src={{item_qualities[item_set['rank1mats_outcome_veteran_embellishment']|int -1]}} class="borderless tiny-icon"></td>
                                                                                        <td class="centered"><img src={{item_qualities[item_set['rank2mats_outcome_veteran_embellishment']|int -1]}} class="borderless tiny-icon"></td>
                                                                                    </tr>
                                                                                {% endif %}

                                                                                {% if item_set['hasMissiveSlot'] and item_set['hasEmbellishmentSlot'] %}
                                                                                    <tr>
                                                                                        <td>Veteran Crest (<img src={{non_gear_qualities[1]}} class="borderless tinier-icon table-mod-icon-offset"> Missive + <img src={{non_gear_qualities[1]}} class="borderless tinier-icon table-mod-icon-offset"> Embellishment)</td>
                                                                                        <td class="centered"><img src={{item_qualities[item_set['rank1mats_outcome_veteran_missive_embellishment']|int -1]}} class="borderless tiny-icon"></td>
                                                                                        <td class="centered"><img src={{item_qualities[item_set['rank2mats_outcome_veteran_missive_embellishment']|int -1]}} class="borderless tiny-icon"></td>
                                                                                    </tr>
                                                                                {% endif %}
                                                                            {% endif %}

                                                                            {% if item_set['hasCrestSlot'] and item_set['tag']=='Gear (Combat)' and item_set['rarity']=='epic'%}
                                                                                <tr>
                                                                                    <td>Hero Crest</td>
                                                                                    <td class="centered"><img src={{item_qualities[item_set['rank1mats_outcome_hero']|int -1]}} class="borderless tiny-icon"></td>
                                                                                    <td class="centered"><img src={{item_qualities[item_set['rank2mats_outcome_hero']|int -1]}} class="borderless tiny-icon"></td>
                                                                                </tr>

                                                                                {% if item_set['hasMissiveSlot'] %}
                                                                                    <tr>
                                                                                        <td>Hero Crest (<img src={{non_gear_qualities[1]}} class="borderless tinier-icon table-mod-icon-offset"> Missive)</td>
                                                                                        <td class="centered"><img src={{item_qualities[item_set['rank1mats_outcome_hero_missive']|int -1]}} class="borderless tiny-icon"></td>
                                                                                        <td class="centered"><img src={{item_qualities[item_set['rank2mats_outcome_hero_missive']|int -1]}} class="borderless tiny-icon"></td>
                                                                                    </tr>
                                                                                {% endif %}

                                                                                {% if item_set['hasEmbellishmentSlot'] %}
                                                                                    <tr>
                                                                                        <td>Hero Crest (<img src={{non_gear_qualities[1]}} class="borderless tinier-icon table-mod-icon-offset"> Embellishment)</td>
                                                                                        <td class="centered"><img src={{item_qualities[item_set['rank1mats_outcome_hero_embellishment']|int -1]}} class="borderless tiny-icon"></td>
                                                                                        <td class="centered"><img src={{item_qualities[item_set['rank2mats_outcome_hero_embellishment']|int -1]}} class="borderless tiny-icon"></td>
                                                                                    </tr>
                                                                                {% endif %}

                                                                                {% if item_set['hasMissiveSlot'] and item_set['hasEmbellishmentSlot'] %}
                                                                                    <tr>
                                                                                        <td>Hero Crest (<img src={{non_gear_qualities[1]}} class="borderless tinier-icon table-mod-icon-offset"> Missive + <img src={{non_gear_qualities[1]}} class="borderless tinier-icon table-mod-icon-offset"> Embellishment)</td>
                                                                                        <td class="centered"><img src={{item_qualities[item_set['rank1mats_outcome_hero_missive_embellishment']|int -1]}} class="borderless tiny-icon"></td>
                                                                                        <td class="centered"><img src={{item_qualities[item_set['rank2mats_outcome_hero_missive_embellishment']|int -1]}} class="borderless tiny-icon"></td>
                                                                                    </tr>
                                                                                {% endif %}

                                                                                <tr>
                                                                                    <td>Myth Crest</td>
                                                                                    <td class="centered"><img src={{item_qualities[item_set['rank1mats_outcome_myth']|int -1]}} class="borderless tiny-icon"></td>
                                                                                    <td class="centered"><img src={{item_qualities[item_set['rank2mats_outcome_myth']|int -1]}} class="borderless tiny-icon"></td>
                                                                                </tr>

                                                                                {% if item_set['hasMissiveSlot'] %}
                                                                                    <tr>
                                                                                        <td>Myth Crest (<img src={{non_gear_qualities[1]}} class="borderless tinier-icon table-mod-icon-offset"> Missive)</td>
                                                                                        <td class="centered"><img src={{item_qualities[item_set['rank1mats_outcome_myth_missive']|int -1]}} class="borderless tiny-icon"></td>
                                                                                        <td class="centered"><img src={{item_qualities[item_set['rank2mats_outcome_myth_missive']|int -1]}} class="borderless tiny-icon"></td>
                                                                                    </tr>
                                                                                {% endif %}

                                                                                {% if item_set['hasEmbellishmentSlot'] %}
                                                                                    <tr>
                                                                                        <td>Myth Crest (<img src={{non_gear_qualities[1]}} class="borderless tinier-icon table-mod-icon-offset"> Embellishment)</td>
                                                                                        <td class="centered"><img src={{item_qualities[item_set['rank1mats_outcome_myth_embellishment']|int -1]}} class="borderless tiny-icon"></td>
                                                                                        <td class="centered"><img src={{item_qualities[item_set['rank2mats_outcome_myth_embellishment']|int -1]}} class="borderless tiny-icon"></td>
                                                                                    </tr>
                                                                                {% endif %}

                                                                                {% if item_set['hasMissiveSlot'] and item_set['hasEmbellishmentSlot'] %}
                                                                                    <tr>
                                                                                        <td>Myth Crest (<img src={{non_gear_qualities[1]}} class="borderless tinier-icon table-mod-icon-offset"> Missive + <img src={{non_gear_qualities[1]}} class="borderless tinier-icon table-mod-icon-offset"> Embellishment)</td>
                                                                                        <td class="centered"><img src={{item_qualities[item_set['rank1mats_outcome_myth_missive_embellishment']|int -1]}} class="borderless tiny-icon"></td>
                                                                                        <td class="centered"><img src={{item_qualities[item_set['rank2mats_outcome_myth_missive_embellishment']|int -1]}} class="borderless tiny-icon"></td>
                                                                                    </tr>
                                                                                {% endif %}    
                                                                            {% endif %}

                                                                            {% if item_set['tag'] == 'Gear (PvP)' %}
                                                                                <tr>
                                                                                    <td>Combatant's Heraldry</td>
                                                                                    <td class="centered"><img src={{item_qualities[item_set['rank1mats_outcome_combatant']|int -1]}} class="borderless tiny-icon"></td>
                                                                                    <td class="centered"><img src={{item_qualities[item_set['rank2mats_outcome_combatant']|int -1]}} class="borderless tiny-icon"></td>
                                                                                </tr>

                                                                                {% if item_set['hasMissiveSlot'] %}
                                                                                    <tr>
                                                                                        <td>Combatant's Heraldry (<img src={{non_gear_qualities[1]}} class="borderless tinier-icon table-mod-icon-offset"> Missive)</td>
                                                                                        <td class="centered"><img src={{item_qualities[item_set['rank1mats_outcome_combatant_missive']|int -1]}} class="borderless tiny-icon"></td>
                                                                                        <td class="centered"><img src={{item_qualities[item_set['rank2mats_outcome_combatant_missive']|int -1]}} class="borderless tiny-icon"></td>
                                                                                    </tr>
                                                                                {% endif %}

                                                                                {% if item_set['hasEmbellishmentSlot'] %}
                                                                                    <tr>
                                                                                        <td>Combatant's Heraldry (<img src={{non_gear_qualities[1]}} class="borderless tinier-icon table-mod-icon-offset"> Embellishment)</td>
                                                                                        <td class="centered"><img src={{item_qualities[item_set['rank1mats_outcome_combatant_embellishment']|int -1]}} class="borderless tiny-icon"></td>
                                                                                        <td class="centered"><img src={{item_qualities[item_set['rank2mats_outcome_combatant_embellishment']|int -1]}} class="borderless tiny-icon"></td>
                                                                                    </tr>
                                                                                {% endif %}

                                                                                {% if item_set['hasMissiveSlot'] and item_set['hasEmbellishmentSlot'] %}
                                                                                    <tr>
                                                                                        <td>Combatant's Heraldry (<img src={{non_gear_qualities[1]}} class="borderless tinier-icon table-mod-icon-offset"> Missive + <img src={{non_gear_qualities[1]}} class="borderless tinier-icon table-mod-icon-offset"> Embellishment)</td>
                                                                                        <td class="centered"><img src={{item_qualities[item_set['rank1mats_outcome_combatant_missive_embellishment']|int -1]}} class="borderless tiny-icon"></td>
                                                                                        <td class="centered"><img src={{item_qualities[item_set['rank2mats_outcome_combatant_missive_embellishment']|int -1]}} class="borderless tiny-icon"></td>
                                                                                    </tr>
                                                                                {% endif %}
                                                                                <tr>
                                                                                    <td>Aspirant's Heraldry</td>
                                                                                    <td class="centered"><img src={{item_qualities[item_set['rank1mats_outcome_aspirant']|int -1]}} class="borderless tiny-icon"></td>
                                                                                    <td class="centered"><img src={{item_qualities[item_set['rank2mats_outcome_aspirant']|int -1]}} class="borderless tiny-icon"></td>
                                                                                </tr>

                                                                                {% if item_set['hasMissiveSlot'] %}
                                                                                    <tr>
                                                                                        <td>Aspirant's Heraldry (<img src={{non_gear_qualities[1]}} class="borderless tinier-icon table-mod-icon-offset"> Missive)</td>
                                                                                        <td class="centered"><img src={{item_qualities[item_set['rank1mats_outcome_aspirant_missive']|int -1]}} class="borderless tiny-icon"></td>
                                                                                        <td class="centered"><img src={{item_qualities[item_set['rank2mats_outcome_aspirant_missive']|int -1]}} class="borderless tiny-icon"></td>
                                                                                    </tr>
                                                                                {% endif %}

                                                                                {% if item_set['hasEmbellishmentSlot'] %}
                                                                                    <tr>
                                                                                        <td>Aspirant's Heraldry (<img src={{non_gear_qualities[1]}} class="borderless tinier-icon table-mod-icon-offset"> Embellishment)</td>
                                                                                        <td class="centered"><img src={{item_qualities[item_set['rank1mats_outcome_aspirant_embellishment']|int -1]}} class="borderless tiny-icon"></td>
                                                                                        <td class="centered"><img src={{item_qualities[item_set['rank2mats_outcome_aspirant_embellishment']|int -1]}} class="borderless tiny-icon"></td>
                                                                                    </tr>
                                                                                {% endif %}

                                                                                {% if item_set['hasMissiveSlot'] and item_set['hasEmbellishmentSlot'] %}
                                                                                    <tr>
                                                                                        <td>Aspirant's Heraldry (<img src={{non_gear_qualities[1]}} class="borderless tinier-icon table-mod-icon-offset"> Missive + <img src={{non_gear_qualities[1]}} class="borderless tinier-icon table-mod-icon-offset"> Embellishment)</td>
                                                                                        <td class="centered"><img src={{item_qualities[item_set['rank1mats_outcome_aspirant_missive_embellishment']|int -1]}} class="borderless tiny-icon"></td>
                                                                                        <td class="centered"><img src={{item_qualities[item_set['rank2mats_outcome_aspirant_missive_embellishment']|int -1]}} class="borderless tiny-icon"></td>
                                                                                    </tr>
                                                                                {% endif %}
                                                                                <tr>
                                                                                    <td>Gladiator's Heraldry</td>
                                                                                    <td class="centered"><img src={{item_qualities[item_set['rank1mats_outcome_gladiator']|int -1]}} class="borderless tiny-icon"></td>
                                                                                    <td class="centered"><img src={{item_qualities[item_set['rank2mats_outcome_gladiator']|int -1]}} class="borderless tiny-icon"></td>
                                                                                </tr>

                                                                                {% if item_set['hasMissiveSlot'] %}
                                                                                    <tr>
                                                                                        <td>Gladiator's Heraldry (<img src={{non_gear_qualities[1]}} class="borderless tinier-icon table-mod-icon-offset"> Missive)</td>
                                                                                        <td class="centered"><img src={{item_qualities[item_set['rank1mats_outcome_gladiator_missive']|int -1]}} class="borderless tiny-icon"></td>
                                                                                        <td class="centered"><img src={{item_qualities[item_set['rank2mats_outcome_gladiator_missive']|int -1]}} class="borderless tiny-icon"></td>
                                                                                    </tr>
                                                                                {% endif %}

                                                                                {% if item_set['hasEmbellishmentSlot'] %}
                                                                                    <tr>
                                                                                        <td>Gladiator's Heraldry (<img src={{non_gear_qualities[1]}} class="borderless tinier-icon table-mod-icon-offset"> Embellishment)</td>
                                                                                        <td class="centered"><img src={{item_qualities[item_set['rank1mats_outcome_gladiator_embellishment']|int -1]}} class="borderless tiny-icon"></td>
                                                                                        <td class="centered"><img src={{item_qualities[item_set['rank2mats_outcome_gladiator_embellishment']|int -1]}} class="borderless tiny-icon"></td>
                                                                                    </tr>
                                                                                {% endif %}

                                                                                {% if item_set['hasMissiveSlot'] and item_set['hasEmbellishmentSlot'] %}
                                                                                    <tr>
                                                                                        <td>Gladiator's Heraldry (<img src={{non_gear_qualities[1]}} class="borderless tinier-icon table-mod-icon-offset"> Missive + <img src={{non_gear_qualities[1]}} class="borderless tinier-icon table-mod-icon-offset"> Embellishment)</td>
                                                                                        <td class="centered"><img src={{item_qualities[item_set['rank1mats_outcome_gladiator_missive_embellishment']|int -1]}} class="borderless tiny-icon"></td>
                                                                                        <td class="centered"><img src={{item_qualities[item_set['rank2mats_outcome_gladiator_missive_embellishment']|int -1]}} class="borderless tiny-icon"></td>
                                                                                    </tr>
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>    
                                        {% endif %}
                                    {% endfor %}            
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>